:root {
  --main-text-color: #565656;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background-color: white;
  border-radius: 15px;
  position: sticky;
  top: 10px;
  z-index: 999;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navbar__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #565656;
}

.lan {
  width: 40px;
  height: 24px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.intro {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.intro__container {
  display: flex;
  position: relative;
}

.dicoration {
  position: absolute;
  left: -30.22%;
  right: 95.37%;
  top: -40.81%;
  bottom: 97.62%;
  rotate: 165%;
}

.intro__title {
  width: 450px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #131313;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span {
  box-sizing: border-box;
  background: rgba(116, 33, 176, 0.16);
  border: 1px solid #7421b0;

  color: #7421b0;
  -webkit-text-stroke: 1px black;
}

.intro__text {
  width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #828282;
}

.intro__btn {
  width: 230px;
  height: 60px;
  background: linear-gradient(97.02deg, #7421b0 28.9%, #d08eff 139.98%);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.decorativeLine {
  position: absolute;
  left: -30.7%;
  right: -12.28%;
  top: -10.11%;
  bottom: 92.68%;
}

.intro__video {
  position: absolute;
  left: 50.87%;
  right: 5.97%;
  top: 7.23%;
  bottom: 93.36%;
  width: 820px;
  border-radius: 5px;
}

.box {
  position: absolute;
  left: 69.7%;
  right: -4.19%;
  top: -1.42%;
  bottom: -40.5%;
  width: 715px;
  background: linear-gradient(180deg, #7421b0 0%, #d08eff 100%);
  border-radius: 70px 0px 0px 70px;
}

.advarestment {
  box-sizing: border-box;
  position: absolute;
  width: 282px;
  height: 108px;
  left: 1010.44px;
  top: 470px;
  background: rgba(196, 196, 196, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}

.adversetment__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  margin: 30px;
}

.selection {
  padding-top: 470px;
}

.selection__container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.selection__top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 139px;
}

.selection__title {
  width: 473px;
}

.selection__text {
  width: 573px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #828282;
}

.selection__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.selection__box {
  width: 338px;
  height: 260px;
  background: white;
  box-shadow: 0px 26px 48px -23px black;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.selection__box__container {
  margin: 40px;
}

.selection__box:hover {
  background: #7421b0;
  box-shadow: 0px 26px 48px -23px #7421b0;
  border-radius: 10px;
}

.selection__boxText {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  width: 177px;
  color: black;
}

.upload__container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 70px;
}

.uploader__dicor {
  position: absolute;
  width: 246px;
  height: 246px;
  left: -353px;
  bottom: 400px;
  z-index: -2;
}

.box2 {
  position: absolute;
  width: 903px;
  height: 650px;
  left: -400px;
  bottom: -150px;
  background: linear-gradient(
    90deg,
    rgba(255, 89, 248, 0.04) 0%,
    rgba(174, 114, 255, 0.04) 19.79%,
    rgba(144, 233, 237, 0.04) 40.62%,
    rgba(92, 209, 103, 0.04) 61.98%,
    rgba(255, 238, 0, 0.04) 82.53%
  );

  border: 3px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(20px);
  border-radius: 0px 70px 70px 0px;
  z-index: -1;
}

.upload {
  margin-top: 370px;
}

.contact__file {
  width: 705px;
  height: 390px;
  background: #ffffff;
  box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uploader__text {
  width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #828282;
}

.ellipse {
  position: absolute;
  width: 920px;
  height: 1255.13px;
  left: 629.87px;
  z-index: -1;
}

.cube {
  position: absolute;
  left: 67.45%;
  right: -0.45%;
  bottom: 109.08%;
  z-index: -2;
  width: 350.22px;
}

.ellipse2 {
  position: absolute;
  left: -29.3%;
  right: -4.19%;
  top: -29.3%;
  bottom: -40.5%;
  z-index: -1;
}

.warning {
position: absolute;
width: 461px;
height: 168px;
left: 126px;
top: 337px;
background: rgba(196, 196, 196, 0.1);
border: 1px solid rgba(255, 255, 255, 0.15);
backdrop-filter: blur(20px);
border-radius: 16px;
}

.warning__text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 170%;
color: var(--main-text-color);
padding: 20px;

}
